@using BugTracker.Models
@using Microsoft.AspNet.Identity
@using BugTracker.Helpers
@using BugTracker.ViewModels

@model UserProfileVM

@{
    var userId = User.Identity.GetUserId();
    var db = new ApplicationDbContext();
    var user = db.Users.Find(userId);
    var roleHelper = new UserRolesHelper();
    var ticketHelper = new TicketHelper();
    var projectHelper = new ProjectManagerHelper();
    var notificationHelper = new NotificationHelper();
    var history = db.TicketHistories.OrderByDescending(h => h.Updated).ToList();
    var devticket = db.Tickets.Where(t => t.AssignedToUserId == userId).OrderByDescending(t => t.Created).Take(5).ToList();
    var subticket = db.Tickets.Where(t => t.OwnerUserId == userId).OrderByDescending(t => t.Created).Take(5).ToList();
    var adminTicket = db.Tickets.OrderByDescending(t => t.Created).Take(5).ToList();
    var myProjects = projectHelper.ListUserProjects(userId).ToList();
    var managerTicket = myProjects.SelectMany(t => t.Tickets).Take(5).ToList();
    var adminCount = db.Tickets.Count();
    var managerCount = myProjects.SelectMany(t => t.Tickets).Count();
}


<header class="page-header">
    <h2>User Profile</h2>

    <div class="right-wrapper pull-right">
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>

<!-- start: page -->

<div class="row" style="padding-top:30px">
    <div class="col-md-4 col-lg-3">

        @* PROFILE HEADER *@
        <section class="panel">
            <div class="panel-body">
                <div class="thumb-info mb-md">
                    <img src="@Model.AvatarUrl" class="rounded img-responsive" />
                </div>
                <div class="thumb-info mb-md">
                    <div class="thumb-info-title">
                        <span class="thumb-info-inner">@user.FullName</span>
                        <span class="thumb-info-type">@roleHelper.ListUserRoles(userId).FirstOrDefault()</span>
                    </div>
                </div>

                <hr class="dotted short">

                <div class="social-icons-list">
                    <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                </div>

            </div>
        </section>

        @* MY TICKETS *@
        <section class="panel panel-primary">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">
                    @if (User.IsInRole("Admin"))
                    {
                        <span class="label label-danger label-sm text-normal va-middle mr-sm">@adminCount</span>
                    }
                    @if (User.IsInRole("Project Manager"))
                    {
                        <span class="label label-danger label-sm text-normal va-middle mr-sm">@managerCount</span>
                    }
                    <span class="va-middle">My Tickets</span>
                </h2>
            </header>
            <div class="panel-body">
                <div class="content">
                    <ul class="simple-user-list">
                        @if (User.IsInRole("Developer"))
                        {
                            foreach (var ticket in devticket)
                            {
                                <li>
                                    @*<figure class="image rounded">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
                    </figure>*@
                                    <span>@ticket.Created.ToString("MM/dd/yyyy")</span>
                                    <a href="@Url.Action("Dashboard","Tickets", new { id = ticket.Id })"><span class="title">@ticket.Title</span></a>
                                    <span class="message truncate">@ticket.Description</span>
                                </li>
                            }
                        }
                        @if (User.IsInRole("Submitter"))
                        {
                            foreach (var ticket in subticket)
                            {
                                <li>
                                    @*<figure class="image rounded">
                        <img src="assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle">
                    </figure>*@
                                    <span>@ticket.Created.ToString("MM/dd/yyyy")</span>
                                    <a href="@Url.Action("Dashboard","Tickets", new { id = ticket.Id })"><span class="title">@ticket.Title</span></a>
                                    <span class="message truncate">@ticket.Description</span>
                                </li>
                            }
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            foreach (var ticket in adminTicket)
                            {
                                <li>
                                   
                                    <span>@ticket.Created.ToString("MM/dd/yyyy")</span>
                                    <a href="@Url.Action("Dashboard","Tickets", new { id = ticket.Id })"><span class="title">@ticket.Title</span></a>
                                    <span class="message truncate">@ticket.Description</span>
                                </li>
                            }

                        }
                    </ul>
                    <hr class="dotted short">
                    <div class="text-right">
                        <a class="text-uppercase text-muted" href="#">(View All)</a>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group input-search">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </section>

    </div>

    @* NOTIFICATIONS AND EDIT *@
    <div class="col-md-8 col-lg-6">

        <div class="tabs">
            <ul class="nav nav-tabs tabs-primary">
                <li class="active">
                    <a href="#overview" data-toggle="tab">Activity</a>
                </li>
                <li>
                    <a href="#edit" data-toggle="tab">Edit</a>
                </li>
            </ul>
            <div class="tab-content" style=" max-height:600px; overflow-y: scroll">
                <div id="overview" class="tab-pane active">
                    

                    <div class="timeline timeline-simple mt-xlg mb-md">
                        <div class="tm-body">
                            @foreach (var date in history.OrderByDescending(u => u.Updated).GroupBy(u => u.Updated.ToString("dddd, dd MMMM yyyy")))
                            {
                                <div class="tm-title">
                                        <h3 class="h5 text-uppercase">@date.Key</h3>
                               
                                </div>
                                <ol class="tm-items">
                                    @if (User.IsInRole("Developer"))
                                    {
                                        foreach (var notification in notificationHelper.GetAllUserNotifications().OrderByDescending(n => n.Created).Take(5))
                                        {
                                            <li>
                                                <div class="tm-box">
                                                    <p class="text-muted mb-none">@notification.Created.ToString("h:mm tt")</p>
    <p>
                                                        @notification.Subject
                                                    </p>
                                                    <p>
                                                        @notification.NotificationBody
                                                    </p>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @if (User.IsInRole("Admin"))
                                    {
                                        foreach (var item in history)
                                        {
                                            <li>
                                                <div class="tm-box">
                                                    <p class="text-muted mb-none">@item.Updated.ToString("h:mm tt")	</p>
                                                    <p>
                                                        A property on ticket @item.Ticket.Title has been changed from @item.OldValue to @item.NewValue.
                                                    </p>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ol>
                            }
                        </div>
                    </div>
                </div>
                <div id="edit" class="tab-pane">
                    <h4 class="mb-xlg">Personal Information</h4>
                    @using (Html.BeginForm("ChangeInfo", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.FirstName)
                        @Html.HiddenFor(model => model.LastName)
                        @Html.HiddenFor(model => model.Email)
                        <div class="form-group">
                            <label class="col-md-3 control-label" >First Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  name="NewFirstName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="NewLastName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Address</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="NewEmail">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding-top:20px">
                                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                            </div>
                        </div>

                    }
                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Change Avatar</h4>

                    @using (Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post, new { enctype = "Multipart/form-Data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="row">
                            <div class="col-md-12">
                                <input type="file" name="avatar" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding-top:20px">
                                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                            </div>
                        </div>
                    }

                    <hr class="dotted tall">

                    <h4 class="mb-xlg">Change Password</h4>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.Hidden("UserId", Model.Id)

                        <div class="form-group">
                            <label class="col-md-3 control-label">Old Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="OldPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">New Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="NewPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Repeat New Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="ConfirmPassword">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-3">

        <section class="panel panel-primary">
            <header class="panel-heading ">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">My Projects</h2>
            </header>
            <div class="panel-body">
                @foreach (var project in myProjects)
                   {
                    <ul class="simple-post-list">
                        <li>
                            @*<div class="post-image">
                                <div class="img-thumbnail">
                                    <a href="#">
                                        <img src="assets/images/post-thumb-1.jpg" alt="">
                                    </a>
                                </div>
                            </div>*@
                            <div class="post-info">
                                <a href="#">@project.Name</a>
                                <div class="post-meta">
                                    @project.Created.ToString("dddd, dd MMMM yyyy")
                                </div>
                            </div>
                        </li>

                    </ul>
                }
            </div>
        </section>
    </div>

</div>
<!-- end: page -->




<script src="~/Scripts/jquery.autosize.js"></script>


